%h1 Listing devices

%table
  %tr
    %th Device type
    %th Name
    %th User
    %th Session key
    %th Device key
    %th
    %th
    %th

  - @devices.each do |device|
    %tr
      %td= device.device_type
      %td= device.name
      %td= device.user
      %td= device.session_key
      %td= device.device_key
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
