%p#notice= notice

%p
  %b Device type:
  = @device.device_type
%p
  %b Name:
  = @device.name
%p
  %b User:
  = @device.user
%p
  %b Session key:
  = @device.session_key
%p
  %b Device key:
  = @device.device_key

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
