%h1 Listing visits

%table
  %tr
    %th Device
    %th Session key
    %th User
    %th Closed at
    %th
    %th
    %th

  - @visits.each do |visit|
    %tr
      %td= visit.device
      %td= visit.session_key
      %td= visit.user
      %td= visit.closed_at
      %td= link_to 'Show', visit
      %td= link_to 'Edit', edit_visit_path(visit)
      %td= link_to 'Destroy', visit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Visit', new_visit_path
