%p#notice= notice

%p
  %b Device:
  = @visit.device
%p
  %b Session key:
  = @visit.session_key
%p
  %b User:
  = @visit.user
%p
  %b Closed at:
  = @visit.closed_at

= link_to 'Edit', edit_visit_path(@visit)
\|
= link_to 'Back', visits_path
